<!-- app/views/diet_set_plans/show.html.erb -->

<div data-controller="diet-swap" data-diet-swap-current-date-value="<%= params['date'] %>">
  <div class="mx-auto" id="date_picker" data-diet-swap-target="datePicker">
      <%= render "date_picker" %>
  </div>

  <div id="diet_set_plan_details">
      <% if @diet_set_plan.meals.empty? %>
          <%= render 'diet_form', locals: { diet_set_plan: @diet_set_plan } %>
      <% else %>
          <%= render 'diet_set_plan_details', locals: { diet_set_plan: @diet_set_plan } %>
      <% end %>
  </div>
</div>

<!-- Bottom Navigation -->
<div data-controller="sticky-navbar" class="fixed bottom-0 left-0 right-0 z-50 flex justify-around bg-white shadow-md border-t border-gray-200" style="transform: translateZ(0); -webkit-transform: translateZ(0); backface-visibility: hidden; -webkit-backface-visibility: hidden; will-change: transform; padding: 1rem; padding-bottom: calc(1rem + env(safe-area-inset-bottom));">
    <%= link_to '🥗 Twoja dieta', diet_set_plans_path, class: 'font-semibold text-green-600' %>
    <%= link_to '🛒 Lista zakupów', shopping_cart_path, class: 'text-gray-500' %>
</div>
