<turbo-frame id="shopping_cart">
  <% if shopping_cart.shopping_cart_items.empty? %>
    <div class="p-4 text-center text-gray-500">
      Your shopping cart is empty.
    </div>
  <% else %>
    <% shopping_cart.group_and_sum_by_cart_items.each do |group| %>
      <div id="category_<%= group[:category]&.name&.parameterize || 'inne' %>">
        <div class="mb-6">
          <h2 class="mb-2 text-lg font-bold text-gray-800"><%= group[:category]&.name || 'Inne' %></h2>
          <ul class="space-y-2">
            <% group[:products].each do |product_group| %>
              <li id="<%= shopping_cart_item_id_for(group[:category], product_group[:product]) %>" class="flex items-center justify-between p-4 bg-white rounded-lg shadow">
                <div>
                  <p class="text-base font-semibold"><%= product_group[:product].name %></p>
                  <% if product_group[:aggregated_ingredient_measures].present? %>
                    <p class="text-sm text-gray-600">
                      Measurements:
                      <% product_group[:aggregated_ingredient_measures].each do |measurement| %>
                        <%= (measurement[:amount] || 0).to_f.round(2) %> 
                        <%= I18n.t("units.#{measurement[:unit]}", count: measurement[:amount]) %>
                      <% end %>
                    </p>
                  <% end %>
                </div>
                <%= button_to 'Remove', shopping_cart_item_path(product_group[:product]), method: :delete,
                      form: { data: { turbo_stream: true } },
                      class: "px-2 py-1 text-xs text-white bg-red-500 rounded" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <div class="mt-4 mb-12 text-center">
      <%= button_to "Cofnij", undo_shopping_cart_items_path, 
                  method: :post, 
                  data: { turbo_stream: true }, 
                  class: "text-xs text-gray-400 hover:underline" %>
    </div>
  <% end %>
</turbo-frame>
