<%= content_tag :div, id: dom_id(pc), class: "flex flex-wrap gap-4" do %>
  <div class="flex-1 py-4 pl-4 pr-3 text-sm font-medium text-gray-900 whitespace-nowrap sm:pl-0"><%= pc.product.name %></div>
  <div class="flex-1 px-3 py-4 text-sm text-gray-500 whitespace-nowrap">
    <%= pc.category.name %>
  </div>
  <div x-data='' class="flex-1 px-3 py-4 text-sm text-gray-500 whitespace-nowrap">
    <%= button_to product_category_path(pc, product_category: { state: !pc.state }),
                  method: :patch,
                  remote: true,
                  form: { 'data-controller': 'toggle', 'data-action': 'click->toggle#toggle' },
                  class: "#{pc.state ? 'bg-indigo-600' : 'bg-gray-200'} relative inline-flex h-6 w-11 flex-shrink-0 cursor-pointer rounded-full border-2 border-transparent transition-colors duration-200 ease-in-out focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:ring-offset-2" do %>
      <span class="sr-only">state</span>
      <span class="<%= pc.state ? 'translate-x-5' : 'translate-x-0' %> pointer-events-none inline-block h-5 w-5 transform rounded-full bg-white shadow ring-0 transition duration-200 ease-in-out" data-target="toggle.element"></span>
    <% end %>
  </div>
  <div class="relative flex-1 py-4 pl-3 pr-4 text-sm font-medium text-right border-b border-gray-200 whitespace-nowrap sm:pr-8 lg:pr-8">
    <%= link_to 'Edit', edit_product_category_path(pc), class: 'text-indigo-600 hover:text-indigo-900' %>
  </div>
<% end %>