<!DOCTYPE html>
<html>
  <head>
   <title>DietingApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="apple-mobile-web-app-title" content="Dieta">
    <meta name="theme-color" content="#496580">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= render partial: "shared/favicons" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,400&display=swap" rel="stylesheet">

    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>
  <body class="min-h-screen bg-brand-warm-white">
    <%= turbo_frame_tag :modal %>
    <% if content_for?(:marketing_page) %>
      <%= yield %>
    <% else %>
      <div class="flex flex-col min-h-screen">
        <%= render(NavbarComponent.new(current_user: Current.user)) %>
        <main class="flex-1 pt-4 pb-28 sm:py-12 sm:pb-12">
          <div class="container mx-auto max-w-2xl px-[22px] sm:max-w-7xl sm:px-6 lg:px-8">
            <%= yield %>
          </div>
        </main>
        <div class="mb-20 sm:mb-0">
          <%= render(FooterComponent.new) %>
        </div>
      </div>
      <% if Current.user.present? %>
        <%= render "shared/bottom_nav" %>
      <% end %>
    <% end %>
    <%= render "shared/flash", flash: flash %>
  </body>
</html>
